#productos-conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 40px 0;
}

.tarjeta-producto{
    max-width: 200px;
    text-align: center;
    background-color: var(--color-acento-claro);
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.104);
    transition: 200ms;
}

.tarjeta-producto:hover{
    translate: 0 -10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.104);
}


.tarjeta-producto img{
    width: 100%;
}